.container {
  width: 82%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
}
@media only screen and (max-width: 1380px) {
  .container {
    width: calc(100% - 250px);
  }
}
@media only screen and (max-width: 680px) {
  .container {
    width: 100%;
  }
}

.toggleSidepanelBtn {
  position: absolute;
  top: 10px;
}
