# Ignore node_modules directories
**/node_modules

# Ignore build directories
**/dist

# Ignore IDE specific files
.idea/
.vscode/
*.swp

# Ignore Mac system files
.DS_Store

# Ignore logs
/logs
*.log

# Ignore runtime data
pids
*.pid
*.seed
*.pid.lock

# Ignore typings
typings/

# Ignore npm cache directory
/.npm

# Ignore REPL history
/.node_repl_history

# Ignore production build files
/client/build

# Ignore project .env files
**/.env
