.existingChat {
  display: flex;
  padding: 8px 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: auto;
}

.editActions {
  position: absolute;
  right: 8px;
  top: 50%;
  padding: 0 4px 2px 8px;
  transform: translateY(-50%);
  background: rgb(61, 61, 61);
  cursor: pointer;
}

.actions {
  position: absolute;
  right: 8px;
  top: 55%;
  padding: 0 4px;
  transform: translateY(-50%);
  background: rgb(61, 61, 61);
  cursor: pointer;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: linear-gradient(
    90deg,
    rgba(53, 55, 68, 0) 0%,
    rgba(31, 31, 32, 0) 60%,
    rgba(31, 31, 32, 1) 100%
  );
}

.editIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
