body {
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.box {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    width: 350px;
    background-color: var(--gray2);
    box-shadow: rgba(48, 45, 45, 0.2) 0px 7px 29px 0px;
}

.formControl {
    margin-bottom: 10px;
}

.formLabel {
    color: white;
}

.input {
    background-color: var(--black1);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px;
    font-size: medium;
    outline: none;
    box-shadow: rgba(48, 45, 45, 0.2) 0px 7px 29px 0px;
    width: 100%;
}

.input::placeholder {
    color: var(--placeholder);
}

.button {
    background-color: var(--black1);
    color: white;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    padding: 12px;
    font-size: medium;
    cursor: pointer;
    box-shadow: rgba(48, 45, 45, 0.2) 0px 7px 29px 0px;
    width: 100%;
}
