.chatComponent {
  width: 100%;
  padding: 48px;
  min-height: 120px;
}

.chatContent {
  width: 82%;
  margin: auto;
  display: flex;
}

.chatComponent:nth-last-child(2) {
  padding-bottom: 28vh;
}

/* https://blog.logrocket.com/code-block-typewriter-effect-react/
https://www.amitmerchant.com/simple-blinking-cursor-animation-using-css/ */
.blinkingCursor {
  display: flex;
  align-items: center;
  gap: 2px;
}

.blinkingCursor::after {
  content: '';
  width: 8px;
  height: 20px;
  background: #dbdbdb;
  display: inline-block;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
