:root {
  --primary-colour: #455A64;
  --secondary-colour: #7A8F9C;
  --tertiary-colour: #708E9E;
  --text-primary-colour: #FFFFFF;
  --text-secondary-colour: #AEBDC2;
  --accent-colour: #a1c7ff;
  --error-colour: #f44336;
  --background-colour: #8C9EA6;
  --button-hover-colour: #1A76B4;
  --link-hover-colour: #BDBDBD;
  --formLabel-colour: #AEBDC2;
  --buttonTextHover-colour: #263238;

  --primary-colour-rgba: 69, 90, 100;
  --secondary-colour-rgba: 122, 143, 156;
  --tertiary-colour-rgba: 207, 216, 220;
  --text-primary-colour-rgba: 255, 255, 255;
  --text-secondary-colour-rgba: 174, 189, 194;
  --accent-colour-rgba: 161, 199, 255;
  --error-colour-rgba: 244, 67, 54;
  --background-colour-rgba: 140, 158, 166;
  --button-hover-colour-rgba: 26, 118, 180;
  --link-hover-colour-rgba: 189, 189, 189;
  --formLabel-colour-rgba: 174, 189, 194;
  --buttonTextHover-colour-rgba: 38, 50, 56;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
