:root {
  --primary-colour: #455a64;
  --tertiary-colour: #d9edfa;
  --text-primary-colour: #ffffff;
  --sidebar-shading: 31, 58, 96;
  --secondary-colour-rgba: 122, 143, 156;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
