.sidepanel {
    background: var(--black1);
    width: 18%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    display: flex;
}

.courseSelect {
    width: 90%;
    margin: auto;
    margin-top: 16px;
}

.profile{
    min-height: 50px;
    padding: 16px;
}